<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity"
     type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
               Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Contracts.IStringMutatorV1, Contracts"
                mapTo="Implementation1.StringMutatorV1, ImplementationV1" />
      <register type="Contracts.IStringMutatorV2, Contracts"
                mapTo="Implementation2.StringMutatorV2, ImplementationV2" />
    </container>
  </unity>
</configuration>